### Introducción a Python

In [3]:
print("Hola Mundo") #imprime

Hola Mundo

## Algunos Operadores

In [23]:
#SUMA
print(2+14)
#MODULO
print(10%3)
#EXPONENCIAL
print(2**3)
#MULTIPLICACIÓN
print(2*3)
#DIVISION
print(20/5)
#DIVISIÓN ENTERA
print(10//3)

16
1
8
6
4.0
3

Tipos de **variable**

In [16]:
numero = 12
type(numero)

int

In [18]:
texto = "Noe Melo L."
type(texto)

str

In [20]:
decimal = 23.1
type(decimal)

float

In [24]:
mensaje = """Esto es un mensaje
... con tres saltos
... de linea"""
print(mensaje)
type(mensaje)

Esto es un mensaje
con tres saltos
de linea

str

operadores de comparación

In [10]:
numero1 = 3
numero2 = 4

if numero1<numero2:
    print("verdadero")

    
#mas operadores > < =

verdadero

## Funciones

Funcion sin parámetro

In [5]:
def mensaje ():               #declarando a la funcion
    print("Soy el mensaje")

In [6]:
mensaje() #llamando a la funcion

Soy el mensaje

Funcion con parametro

In [7]:
def suma(num1, num2):
    print(num1+num2)

In [8]:
suma(7,8)

15

Funciones con retorno

In [11]:
def division(num1,num2):
    
    return num1/num2

In [13]:
resultado = division(20,5)

print(resultado)

4.0

## Listas - Array

In [35]:
miLista = ["Maria", "Jose", "Pepe", "Eli"] #declarando lista

print(miLista[0]) ## accediendo a la lista

Maria

Agregar Elemento

In [36]:
print(miLista[:]) # imprimiendo toda la lista
print(miLista[0:2]) # imprimiendo un rango 0 - 2

['Maria', 'Jose', 'Pepe', 'Eli']
['Maria', 'Jose']

In [37]:
miLista.append("Noah") # agregando 1 elemento
print(miLista[:])

['Maria', 'Jose', 'Pepe', 'Eli', 'Noah']

In [38]:
miLista.insert(2,"Luis") # agregando elemento con posición
print(miLista[:])

['Maria', 'Jose', 'Luis', 'Pepe', 'Eli', 'Noah']

In [39]:
miLista.extend(["Lisa","Miguel","Raquel"]) # agregando varios elementos a la lista
print(miLista[:])

['Maria', 'Jose', 'Luis', 'Pepe', 'Eli', 'Noah', 'Lisa', 'Miguel', 'Raquel']

**Buscar** Elemento

In [40]:
print(miLista.index("Noah"))# devuelve la posición

5

In [41]:
"Maria" in miLista # si existe elemento en la lista devuelve TRUE

True

Lista de varios tipos de elemento

In [46]:
multiLista = ["Patatas", 2.4, True, 100]
multiLista[:]

['Patatas', 2.4, True, 100]

Eliminar elemento

In [47]:
multiLista.remove("Patatas")#elimina elemento especifico
multiLista[:]

[2.4, True, 100]

In [48]:
multiLista.pop()#elimina último elemento
multiLista[:]

[2.4, True]

Operadores con Listas

In [51]:
#Suma -> agrega:
sumaLista = miLista + multiLista
sumaLista[:]

['Maria',
 'Jose',
 'Luis',
 'Pepe',
 'Eli',
 'Noah',
 'Lisa',
 'Miguel',
 'Raquel',
 2.4,
 True]

In [52]:
#miltiplica o repite
listaPrueba = ["uno","dos","tres"] *3
listaPrueba[:]

['uno', 'dos', 'tres', 'uno', 'dos', 'tres', 'uno', 'dos', 'tres']

In [2]:
#lista de numeros
numeros=[1,2,3,4,5] * 3
numeros[:]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Tuplas -  listas

In [15]:
#son más rapidas y ahorran menos memoria, pero no se pueden modificar sus elementos, sirven como diccionarios
miTupla = ("Juan",13,1,1995)
miTupla[0]

'Juan'

Convertir tupla a lista

In [5]:
miLista = list(miTupla)
miLista

['Juan', 13, 1, 1995]

Lista a Tupla

In [6]:
miTupla = tuple(miLista)
miTupla

('Juan', 13, 1, 1995)

In [7]:
'Juan' in miTupla

True

Contar Elementos

In [10]:
miTupla.count(13) # devuelve el numero de elementos del mis valor

1

In [11]:
len(miTupla) # devuelve el número de elementos de la tupla o array

4

Tupla Unitaria y forma de clarar sin paréntesis

In [13]:
tuplaUnitaria = ('Pedro',)
len(tuplaUnitaria)

1

In [17]:
otraTupla = "Luis", 12, 2015,"marzo"
otraTupla

('Luis', 12, 2015, 'marzo')

Desempaquetado de Tuplas

In [18]:
nombre, dia, anio, mes = otraTupla  #asignación

print(nombre, dia,anio,mes)

Luis 12 2015 marzo

# Diccionarios

In [20]:
paisCapital = {"Alemania":"Berlin","Francia":"Paris","Reino Unido":"Londres","Peru":"Lima"}

print(paisCapital["Alemania"])
#todo el diccionario
print(paisCapital)

Berlin
{'Alemania': 'Berlin', 'Francia': 'Paris', 'Reino Unido': 'Londres', 'Peru': 'Lima'}

Agregar Elemento

In [21]:
paisCapital["España"] = "Madrid"
print(paisCapital)

{'Alemania': 'Berlin', 'Francia': 'Paris', 'Reino Unido': 'Londres', 'Peru': 'Lima', 'España': 'Madrid'}

Reemplazar

In [23]:
paisCapital["España"] = "Roma"
print(paisCapital)

{'Alemania': 'Berlin', 'Francia': 'Paris', 'Reino Unido': 'Londres', 'Peru': 'Lima', 'España': 'Roma'}

Eliminar Elemento

In [24]:
del paisCapital["España"]
print(paisCapital)

{'Alemania': 'Berlin', 'Francia': 'Paris', 'Reino Unido': 'Londres', 'Peru': 'Lima'}

Diccionario Multitipo

In [26]:
datos = {"nombre":"Michael","edad":20,"telefono":9232354,"sexo":"M"}
print(datos)

{'nombre': 'Michael', 'edad': 20, 'telefono': 9232354, 'sexo': 'M'}

In [27]:
print(datos["nombre"])
print(datos["edad"])

Michael
20

Agregar varios valores a un solo elemento del diccionarios

In [29]:
datos = {"nombre":"Michael","edad":20,"telefono":[9232354,4567289,234658],"sexo":"M"} #agregando varios telefonos
print(datos)

{'nombre': 'Michael', 'edad': 20, 'telefono': [9232354, 4567289, 234658], 'sexo': 'M'}

In [30]:
print(datos["telefono"])

[9232354, 4567289, 234658]

Sub diccionarios

In [33]:
datos = {"nombre":"Michael","edad":20,"telefono":[9232354,4567289,234658],"sexo":"M",
         "premios":{"temporadas":[2001,2006,2009]}} #agregando varios telefonos
print(datos["premios"])

{'temporadas': [2001, 2006, 2009]}

Metodos

In [37]:
#claves
print(datos.keys())
#valores
print(datos.values())
#tamaño
print(len(datos))

dict_keys(['nombre', 'edad', 'telefono', 'sexo', 'premios'])
dict_values(['Michael', 20, [9232354, 4567289, 234658], 'M', {'temporadas': [2001, 2006, 2009]}])
5

# Condicionales

if and else

def evaluacion(nota):
    valoracion = ""
    if nota < 10:
        valoracion = "Desaprobado"
    else:
        valoracion = "Aprobado"
    return valoracion

In [44]:
print(evaluacion(14))

Aprobado

Rangos: condición encadenada

In [48]:
edad = 10

if 0 < edad < 10: #se puede agregar más condiciones -> 1: 0<edad ?, 2: edad < 10 ?, ..., etc.
    print("edad entre 0 y 10")
else:
    print("edad fuera de rango")

edad fuera de rango

And y Or

In [50]:
dias=12
mes="agosto"
#AND
if dias < 15 and mes == "agosto":
    print("Cumple AND")
else:
    print("No Cumple AND")
#OR
if dias < 15 or mes == "enero":
    print("Cumple OR")
else:
    print("No Cumple OR")

Cumple AND
Cumple OR

In: busqueda dentro del array

In [54]:
nombre = "Pedro"
if nombre in ["Juan","Pedro","Luis"]:
    print("existe en la lista")
else:
    print("No existe en la lista")

existe en la lista

# Bucles

FOR

Dentro de un array

In [57]:
#dentro de un array
for i in [1,2,3,4]:
    print(i)
for i in ["uno","dos","tres","cuatro"]:
    print(i)

1
2
3
4
uno
dos
tres
cuatro

In [3]:
#sin salto de linea
for i in ["uno","dos","tres","cuatro"]:
    print(i,end = "")

unodostrescuatro

Recorre caracteres de un string

In [12]:
for i in "pildorasinformaticas.com":
    print(i, end = " ")

p i l d o r a s i n f o r m a t i c a s . c o m

Range

In [13]:
for i in range(5): #rango 0 a 4
    print(i)

0
1
2
3
4

In [14]:
inicio = 5
fin = 20
cambio = 2
for i in range(inicio,fin,cambio):
    print(i)

5
7
9
11
13
15
17
19

In [15]:
for i in range(20,30,4):
    print(f"valor de la variable {i}") #imprimir valor del i dentro de un string  con --> f

valor de la variable 20
valor de la variable 24
valor de la variable 28

WHILE

In [24]:
numero = 3

while numero % 2 != 0:
        numero = int(input("ingrese numero par "))        
print("el numero es par: " + str(numero))

ingrese numero par 2
el numero es par: 2

WHILE y FOR: CONTINUE, PASS, ELSE

In [27]:
#CONTINUE
for i in "ABCDE":
    if i == "C":
        continue
    print(i)

A
B
D
E

In [28]:
#BREAK
for i in "ABCDE":
    if i == "C":
        break
    print(i)

A
B

In [31]:
#ELSE
for i in "ABCDE":
    print(i)
else:
    print("final del bucle") #SE EJECUTA CUANDO NO HAY ELEMENTOS QUE RECORRER

A
B
C
D
E
final del bucle

In [34]:
#PASS
def miFuncion():
    pass #para implementar mas tarde:
    print("hola")
miFuncion()

hola

In [35]:
#VIDEO 19

# Generadores - yield - next

Duevelve un primer valor de una funcion con iteracion, suspende, luego accede al siguiente valor; de tal manera que no consume memoria. En cambio, un bucle normal devuelve todo el array ocupando memoria para todos sus valores.

In [14]:
def generaPares(limite):
    num = 1
    while num < limite:
        yield num*2#suspension
        num+=1

In [19]:
devuelvePares = generaPares(10)#instancia objeto generador

print(next(devuelvePares)) # llama a la función con la primera iteración...
print("más codigo ... ") # suspension
print(next(devuelvePares)) # llama a la función con la segunda iteración...
print("más codigo ... ") # suspension
print(next(devuelvePares))
print("más codigo ... ") # suspension

#imprimirá los que quedan
for i in devuelvePares:
    print(i)# llama a la función con la i últimas iteraciones...

2
más codigo ...
4
más codigo ...
6
más codigo ...
8
10
12
14
16
18

In [28]:
def setCiudades(*ciudades): # *-> indica que el parámetro tendrá indeterminado # de elementos
    for ciudad in ciudades:
        yield ciudad#aquí se suspende  la ejecución

In [29]:
getCiudades = setCiudades("Lima","Cusco","Huancayo","Ica")

print(next(getCiudades))
print(next(getCiudades))

Lima
Cusco

Acceder a sub elementos

In [27]:
def setPalabras(*palabras): # *-> indica que el parámetro tendrá indeterminado # de elementos
    for palabra in palabras:
        for elemento in palabra:
            yield elemento#aquí se suspende  la ejecución

In [30]:
getPalabras = setPalabras("CAMINAR","RECURRENTE")
print(next(getPalabras))
print(next(getPalabras))
print(next(getPalabras))

C
A
M

YIELD FROM

In [36]:
def setVerbos(*verbos): # *-> indica que el parámetro tendrá indeterminado # de elementos
    for verbo in verbos:
        #for elemento in palabra:
            yield from verbo#aquí se suspende  la ejecución| from recorre el array

In [37]:
getVerbos = setVerbos("CAMINAR","RECURRENTE")
print(next(getVerbos))
print(next(getVerbos))
print(next(getVerbos))

C
A
M

# excepciones

In [47]:
#division
def divide(n,d):
    
    try:
        return n/d
    except ZeroDivisionError:
        print("No se puede dividir entre cero")
        return "Operacion erronea"
    #aquí pueden ir más excepciones
    finally:
        print("calculo finalizado") # finally se ejecuta si o si

print(divide(12,0))# division entre 0

#resto del código
print("fin del programa")

No se puede dividir entre cero
calculo finalizado
Operacion erronea
fin del programa

**RAISE** provoca un error especificado

In [6]:
def edadValido(edad):
    if edad < 0:
        raise ValueError("No se permiten edades negativas") ##provoca un error de tipo TypeError
    if edad < 10:
        return "Eres muy joven"

In [7]:
edadValido(-12)

ValueError: No se permiten edades negativas

In [15]:
#capturando error
try:
    print(edadValido(-9))#ejecutamos funcion
except ValueError as ErrorDeNegativo:   #indiamos el tipo de error
    print(ErrorDeNegativo)

    
print("el programa a terminado")

No se permiten edades negativas
el programa a terminado