# KNN

In [159]:
import numpy as np
import pandas as pd
from scipy import stats # importando scipy.stats

In [160]:
def distancia(A,B):
    new = A - B
    #print("A-B",new)
    sc = np.sum(new**2)
    #print("C**2",new**2)
    return np.sqrt(sc)

In [161]:
def ordenData(dis,clas):
    d = pd.DataFrame({'distancia':dis,'clase':clas})
    zz = d.sort_values(by=['distancia'],ascending=True)
    return zz

In [162]:
def knn(x, data,k):
    row, col = data.shape
    dis = []
    clas = []
    for i in range(row):
        d = distancia(x,np.array(data[i:i+1,:-1]))
        dis.append(d)
        clas.append(data[i:i+1,-1:])
    d = ordenData(dis,clas)
    re, f = stats.mode(d['clase'][:k])
    return re

In [163]:
names = ['sepal length','sepal width','petal length','petal width','class']
data = pd.read_table("iris.txt",names=names,delimiter=",")
data.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [164]:
data1 = np.array(data)
data1[:5,:4]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3.0, 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5.0, 3.6, 1.4, 0.2]], dtype=object)

In [165]:
x= np.array([5.1, 3.5, 1.4, 0.2])
y= np.array([4.9, 3.0, 1.4, 0.2])
distancia(x,y)

0.5385164807134502

In [167]:
x= np.array([5.0,3.5,1.6,0.6])
knn(x,data1,2)

C:\Users\nmelol\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

array([['Iris-setosa', 'Iris-setosa']], dtype=object)

In [140]:
dt= pd.DataFrame({'c1':[2,4,3,1],'c2':['a','c','c','d']})
dt.head()

   c1 c2
0   2  a
1   4  c
2   3  c
3   1  d

In [142]:
zz = dt.sort_values(by=['c1'], ascending=[True])
zz.head()

   c1 c2
3   1  d
0   2  a
2   3  c
1   4  c